/* styles.module.css for SkillCard */

.skillCard {
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.03); /* Slightly less transparent */
  border: 1px solid rgba(142, 36, 170, 0.1); /* Subtle violet border */
}

.skillCard:hover {
  box-shadow: 0 0 10px var(--violet), 0 0 20px var(--neon-cyan); /* Dual glow effect */
  transform: translateY(-5px);
}

.skillCard h3 {
  color: var(--violet); /* Violet for titles */
  font-weight: bold;
  text-shadow: 0 0 5px var(--violet);
}
