/* Base styles for all screen sizes */
.navbarSection {
  display: flex;
  align-items: center;
}

.navbarSectionLeft {
  margin-right: auto;
  gap: 0.5rem;
}

.navbarTitle {
  color: var(--neon-cyan);
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 0 5px var(--neon-cyan), 0 0 10px var(--neon-cyan);
  margin-left: 1rem;
}

.navbarLink {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.navbarLink:hover {
  color: var(--neon-cyan);
  text-shadow: 0 0 5px var(--neon-cyan);
  background-color: rgba(0, 188, 212, 0.1);
  border-radius: 4px;
}

.navbarLinkRight {
  color: var(--violet);
  text-shadow: 0 0 5px var(--violet);
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  transition: all 0.3s ease;
}

.buttonSecondary {
  background-color: transparent;
  border: 1px solid var(--violet);
  color: var(--violet);
}

.buttonSecondary:hover {
  background-color: var(--violet);
  color: #fff;
  box-shadow: 0 0 5px var(--violet), 0 0 10px var(--violet);
}

.buttonPrimary {
  background-color: var(--neon-cyan);
  border: 1px solid var(--neon-cyan);
  color: var(--space-black);
}

.buttonPrimary:hover {
  background-color: transparent;
  color: var(--neon-cyan);
  box-shadow: 0 0 5px var(--neon-cyan), 0 0 10px var(--neon-cyan);
}

/* Initially hide the center and right sections for mobile-first */
.navbarSectionCenter,
.navbarSectionRight {
  display: none;
}

/* Desktop-specific styles */
@media (min-width: 997px) {
  .navbarSectionCenter {
    display: flex; /* Show on desktop */
    flex-grow: 1;
    justify-content: center;
    gap: 2rem;
  }

  .navbarSectionRight {
    display: flex; /* Show on desktop */
    margin-left: auto;
    gap: 0.5rem;
  }
  
  .navbarTitle,
  .navbarLink,
  .button {
    white-space: nowrap; /* Prevent wrapping only on desktop */
  }
}

.colorModeToggle {
  margin-left: 0.5rem; /* Adjust spacing for color mode toggle */
}