/* styles.module.css for ModuleCard */

.moduleCard {
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.03); /* Slightly less transparent for better visibility */
  border: 1px solid rgba(0, 188, 212, 0.1); /* Subtle neon border */
}

.moduleCard h3 {
  color: var(--neon-cyan); /* Neon cyan for titles */
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 5px var(--neon-cyan);
}

.moduleCard p {
  color: #eee; /* Lighter white for descriptions */
}

.moduleCard:hover {
  box-shadow: 0 0 10px var(--neon-cyan), 0 0 20px var(--violet); /* Dual glow effect */
  transform: translateY(-5px);
}
